<h1>SVM Prediction</h1>

<table>
  <thead>
    <tr>
      <th>Input Text</th>
      <th>First Label</th>
      <th>Predicted Label</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @prediction_data[:input_text] %></td>
      <td><%= @prediction_data[:first_label] %></td>
      <td><%= @prediction_data[:predicted_label] %></td>
    </tr>
  </tbody>
</table>
